header{
	background: #3cb371;
	text-align: center;
	font-variant: small-caps;

}

aside{
		background: ;
}

h1{
	color: #0c00dd;
	font-family: Arial, Verdana;
}

h2{
	font-variant: small-caps;
}

nav{
	background: #3cb371;
	text-align: left;
	font-size: 150%;
	font-family: Arial, Verdana;
}

section{background: #3cb371;
		font-family: Arial, Verdana, serif;
		color: #0c00dd;
}